<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wish List Items</h1>
    <hr>

        <table>
            <thead>
                <tr><th>Description</th><th>Delete</th></tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.item_text }}</td>
                    <td><a href="{% url 'item_delete' item.id %}">{{ 'X' }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>No Wish Items Exist</h3>
        <hr>
    <a href="{% url 'item_create' %}"><button>Add A Wish Item</button></a>
</body>
</html>